<div class="alert alert-primary" role="alert" *ngIf="adicionado">
    Fucionari adicionado {{nome}}
  </div>
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nome</label>

    <input type="text" #campoTrabalhar="campoColoridoExportado" class="form-control" [(ngModel)]="nome" (focus)="adicionado=false"  appCampoColorido2 [novaCor]="outraCor">
  </div>


  <button type="button" class="btn btn-primary"
  (click)="adicionar(nome)" [disabled]="nome.length == 0">Adicionar</button>

  <button type="button" class="btn btn-info"
  (click)="campoTrabalhar.colorir()" >Colorir</button>

  <button type="button" class="btn btn-info"
  (click)="campoTrabalhar.descolorir()">Descolori</button>
